:root {
  --body-text-color: #272142;
}

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: 700;
}

hr {
  border: 1px dashed lightblue;
}

.hero-heading-overlay {
  background-image: url(/images/overlay.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffff;
  margin-top: 35px;
  text-align: center;
}

.hero-heading-overlay h1 {
  margin-bottom: 0;
  padding: 47px 0 4px;
}

.hero-heading-overlay h2 {
  font-size: 24px;
  padding: 0 440px 46px;
}

.recipe-container {
  display: block;
  margin: 100px auto;
  max-width: 1160px;
}

.recipe-container h3 {
  color: var(--body-text-color);
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.about-page {
  max-width: 960px;
}

.about-page h1 {
  margin-top: 80px;
}

.about-me-content {
  margin-top: 80px;
}

.about-me-content h2 {
  font-size: 64px;
  font-weight: 700;
  margin-top: 60px;
}

.about-me-content p {
  margin-top: 36px;
}

.favorite-recipes {
  margin: 90px auto;
  display: block;
  max-width: 1160px;
}

.favorite-recipes h4 {
  font-size: 36px;
  font-weight: 700;
}

.favorite-recipes p {
  font-size: 16px;
  line-height: 30px;
}

.recipes-page h1 {
  margin-top: 100px;
}

.recipes {
  max-width: 760px;
  display: block;
  margin: 75px auto 90px;
}

.recipes img {
  width: 100%;
  margin: 15px auto;
}

.recipes h3 {
  color: var(--body-text-color);
  font-size: 36px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 50px;
}

.recipes ul {
  list-style-type: none;
  padding-left: 0;
  padding-right: 15px;
}

.recipes h4 {
  color: #f65282;
  font-size: 18;
  font-weight: 800;
  margin-top: 45px;
}

.recipes p {
  margin-top: 14px;
  line-height: 30px;
}

.footer-container {
  background-color: #f9f7fe;
  height: 100px;
  margin-bottom: 0;
  width: 100%;
}

.social-media-links {
  color: var(--body-text-color);
  font-size: 16px;
  padding-top: 41px;
  text-align: center;
}

@media (max-width: 1320px) {
  .hero-heading-overlay h2 {
    padding: 0 0 46px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    padding-top: 47px;
  }
  h2 {
    font-size: 14px;
    padding: 0 75px 26px;
  }
  h3 {
    font-size: 18px;
  }
  img {
    display: block;
    margin: 10px auto 0;
  }
  .recipe-container {
    margin-top: 50px;
    text-align: center;
  }
  .about-page h1 {
    font-size: 48px;
    margin-top: 38px;
  }
  .about-me-content h2 {
    font-size: 32px;
    margin-top: 28px;
    padding-bottom: 5px;
  }
  .about-me-content p {
    margin-top: 18px;
  }
  .favorite-recipes {
    margin: 55px auto;
    text-align: center;
    line-height: 1;
  }
  .recipes-page h1 {
    margin-top: 35px;
  }
  .recipes {
    margin-top: 30px;
  }
  .recipes h3 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
  }
}
